<form class="{{cssClass}}" autocomplete="off">
    <h1>{{localize "WITCHER.Investigation.evidence.chooseSkill"}}</h1>
    <div>
        <select name="selectedSkill">
            {{selectOptions skills nameAttr='name' valueAttr="name" labelAttr="label" localize=true}}
        </select>
    </div>
</form>