<div class="edit-stats">
    {{#if (eq type 'stats')}}
        {{#with system.stats as |stats|}}
            {{> 'systems/TheWitcherTRPG/templates/sheets/actor/configuration/app/partials/stats-block.hbs' stats=stats reputation=../system.reputation}}
        {{/with}}
    {{else if (eq type 'derived')}}
        {{#with system.derivedStats as |stats|}}
            {{> 'systems/TheWitcherTRPG/templates/sheets/actor/configuration/app/partials/stats-block.hbs' stats=stats}}
        {{/with}}
    {{/if}}
</div>