<form class="{{cssClass}}" autocomplete="off">
    {{#if affectedActors}}
        <span>{{localize "WITCHER.deprecations.statSkillModifiers.text"}}</span>
        {{#each affectedActors as |actor|}}
            <div>
                <span>{{actor.name}}</span>
            </div>
        {{/each}}
    {{/if}}
</form>