{{#if affectedActors}}
    <span>{{localize "WITCHER.deprecations.statSkillModifiers.text"}}</span>
    <div class="scrollable" style="max-height: 300px;">
        {{#each affectedActors as |actor|}}
            <div>
                <span>{{actor.name}}</span>
            </div>
        {{/each}}
    </div>

{{/if}}