{{#if crit}}
    <h3 class='center-important crit-taken'>{{localize 'WITCHER.Defense.Crit'}}:
        {{localize crit.criticalLevel}}
    </h3>
    <button class='crit-stun'>{{localize 'WITCHER.Defense.critStun'}}</button>
{{/if}}