<form class="{{cssClass}}" autocomplete="off">
    <h1>{{localize "WITCHER.Item.Settings.Valuable"}}</h1>
    {{>"systems/TheWitcherTRPG/templates/sheets/item/configuration/partials/consumablePropertiesConfiguration.hbs"}}
</form>