<form class="{{cssClass}}" autocomplete="off">
    <h1>{{localize "WITCHER.Item.Settings.Weapon"}}</h1>
    {{>"systems/TheWitcherTRPG/templates/sheets/item/configuration/partials/damagePropertiesConfiguration.hbs"}}
    {{>"systems/TheWitcherTRPG/templates/sheets/item/configuration/partials/defensePropertiesConfiguration.hbs"}}
</form>