<form class="{{cssClass}}" autocomplete="off">
    <h1>{{localize "WITCHER.Item.DamageProperties.variableDamage"}}</h1>
    <div>
        <input type='text' value="{{currentDamage}}" name='newDamage'>
    </div>
</form>