<div class="witcherTRPG">
    <div>
        {{localize "WITCHER.Item.ConsumeProperties.Chat.tempHpAdded"}}: {{temporaryHp.temporaryHealth}}
        {{localize "WITCHER.Item.ConsumeProperties.temporaryHp.duration"}}: {{temporaryHp.duration}}
    </div>
</div>