<h3>{{localize "WITCHER.Item.Settings.DefenseProperties"}}</h3>
<table class="information">
    <tr class="item-header-tablerow">
        <td>
            <label for="parrying">{{localize "WITCHER.Item.DefenseProperties.parrying"}}</label>
        </td>
        <td>
            <input type="checkbox" id="parrying" name="system.defenseProperties.parrying"
                {{checked item.system.defenseProperties.parrying}} />
        </td>
    </tr>
</table>