<h3>{{localize "WITCHER.Item.Settings.DefenseProperties"}}</h3>
<table class="information">
    <tr class="item-header-tablerow">
        <td>
            <label for="createRegion">{{localize "WITCHER.Item.RegionProperties.createRegionFromTemplate"}}</label>
        </td>
        <td>
            <input type="checkbox" id="createRegion" name="system.regionProperties.createRegionFromTemplate"
                {{checked item.system.regionProperties.createRegionFromTemplate}} />
        </td>
    </tr>
</table>