<div class="tab {{tab.cssClass}} scrollable standard-form" data-group="primary" data-tab="{{partId}}">
    {{>"systems/TheWitcherTRPG/templates/sheets/item/configuration/partials/profession/skillPathSkillPart.hbs" skillFields=skillPathFields.fields.skill1 skill=skillPath.skill1}}
    {{>"systems/TheWitcherTRPG/templates/sheets/item/configuration/partials/profession/skillPathSkillPart.hbs" skillFields=skillPathFields.fields.skill2 skill=skillPath.skill2}}
    {{>"systems/TheWitcherTRPG/templates/sheets/item/configuration/partials/profession/skillPathSkillPart.hbs" skillFields=skillPathFields.fields.skill3 skill=skillPath.skill3}}
</div>