<div class="effects tab {{tabs.activeEffects.cssClass}} scrollable standard-form" data-group="primary"
    data-tab="activeEffects">
    {{> systems/TheWitcherTRPG/templates/partials/effect-part.hbs}}
</div>