<div class="tab {{tabs.defenseProperties.cssClass}} scrollable standard-form" data-group="primary"
    data-tab="defenseProperties">
    {{formGroup
    systemFields.defenseProperties.fields.parrying
    value=item.system.defenseProperties.parrying
    localize=true
}}
</div>