<div class="active-effects-section">
    {{> systems/TheWitcherTRPG/templates/partials/effect-part.hbs}}
</div>

<div style="" class="">
    <div class="flex crit-wound-section">
        <div class="crit-wounds">
            <div class="item-name crit-wounds-header">
                <h2 class="crit-wounds-header-name">{{localize "WITCHER.CritWound.Header"}}</h2>
                <a class="add-crit"><i class="fas fa-plus"></i></a>
            </div>
            {{> "systems/TheWitcherTRPG/templates/partials/crit-wounds-table.hbs"}}
        </div>
    </div>
</div>