.effects-list {
    padding: 0;
}

/* Effects Header Style */

.effects-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
}

.effects-header {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid darkgray;

    h3 {
        font-size: 18px;
        margin: 0;
    }
}

.effects-header:nth-child(n + 2) {
    margin-top: 5px;
}

/* Effects Row Style */

.effect-first-row {
    display: grid;
    grid-template-columns: 1fr 100px;
    width: 100%;
}

.effect-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.effect-list {
    padding: 0;
    margin: 0;
}

.effect-row {
    padding: 10px 5px 10px;
    border-bottom: 1px rgba(25, 24, 19, 0.2) solid;
    display: flex;
    flex-direction: column;
}

.effect-row:hover {
    border-radius: 5px;
    background-color: rgba(25, 25, 25, 0.05);
}

.effect-row:last-child {
    border-bottom: none;
}

.effect-name {
    display: flex;
    gap: 10px;
    align-items: center;
}

.effect-name > img {
    max-width: 40px;
    max-height: 40px;
}

.effect-name > h4 {
    margin-bottom: 0;
}

.effect-name,
.effect-source,
.effect-duration,
a.effect-control {
    text-shadow: none;
}

.effect-source,
.effect-duration,
.effect-control {
    align-self: center;
}


.effect-description {
    padding: 10px 120px 0 50px;
    width: 100%;
}

