.char-header {
    display: flex;
    flex-direction: row;
}

.char-sidebar {
    display: flex;
    flex-direction: column;
}

.stat-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.char-stat-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.char-stat-button,
.char-derived-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid light-dark(#22222240, #e7d1b140);
    color: light-dark(black, white);
    transition: all 0.3s ease;
    min-width: 160px;
    min-height: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 0 10px;
    text-shadow: none;

    .label {
        font-size: 18px;
    }

    .mod {
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 14px;
        width: 56px;

        .max,
        .stat-mod-zero {
            color: light-dark(#174FC8, #7099F0);
        }

        .stat-mod-plus {
            color: light-dark(#299446, #56C574);
        }

        .stat-mod-minus {
            color: light-dark(#EB2B2B, #E86363);
        }
    }

    .skill-icons {
        display: flex;
        gap: 10px;
        font-size: 14px;
        margin: 5px 0;
        color: light-dark(black, white);
    }
}

.char-stat-button:hover {
    background: light-dark(#22222240, #e7d1b140);
}

.char-stat-button.skill {
    .label,
    .skill-icons {
        font-size: 14px;
    }
}

.char-stat-button.skill.profession {
    background: rgba(85, 107, 47, 0.35);
}
.char-stat-button.skill.profession:hover {
    background: rgba(107, 142, 35, 0.45);
}

.char-stat-button.skill.learned {
    background: rgba(32, 95, 171, 0.35);
}
.char-stat-button.skill.learned:hover {
    background: rgba(60, 130, 210, 0.45);
}

.char-stat-button.skill.pickup {
    background: rgba(175, 50, 50, 0.35);
}
.char-stat-button.skill.pickup:hover {
    background: rgba(210, 70, 70, 0.45);
}

.reputation-button {
    width: 105px;
    text-transform: uppercase;
}

.stat-info,
.derived-info {
    align-items: center;
}

.stat-modifiers,
.skill-modifiers,
.derived-modifiers {
    margin-top: 5px;
}

.stat-info > h4,
.char-stat-label,
.stat-mod,
.derived-info {
    margin-bottom: 0;
}

.stat-mod {
    height: 30px;
    width: 35px;
    place-content: center;
}

.stat-max {
    height: 30px;
    width: 35px;
}

input.stat-max {
    border: none;
    padding: 0;
    line-height: 20px;
}

input.header-stat {
    font-weight: bold;
    width: 35px;
    height: 30px;
}

.total-stats {
    display: flex;
    gap: 20px;
    border: 1px solid light-dark(#22222240, #e7d1b140);
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-width: 160px;
    padding: 0 10px;
}

.total-stats > h4 {
    margin-bottom: 0;
    border-bottom: none;
    font-weight: bold;
}

.total-stats-label {
}

input.total-stats-show {
    width: 35px;
    font-weight: bold;
    text-align: center;
}

.char-stat-label {
    width: 70px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px 0 0 10px;
    color: black;
    padding: 0 5px 0;
    place-content: center;
}

.char-header-center {
    flex-grow: 1;
    height: fit-content;

    h1 {
        margin-bottom: 0;
    }
}

.header-center label {
    font-weight: bold;
}

input.charname {
    height: auto;
    border: none;
}

.char-center-middle {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    margin-top: 2px;
}

.char-general {
    margin-top: 5px;
    margin-bottom: 5px;
}

.char-general > span > * {
    border: none;
}

.char-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 12px;

    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid light-dark(#22222240, #e7d1b140);
        border-radius: 5px;
        padding: 5px 10px 5px;
        width: 125px;

        h3 {
            margin: 0;
            font-weight: 300;
        }

        .death-counter {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            h3 {
                margin: 0;
                font-weight: 300;
            }
        }
    }
}

.char-image {
    position: relative;

    .witcher-actor-img {
        height: 130px;
        width: 130px;
        border-radius: 3px;
        object-fit: cover;
    }

    .wound-state {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        bottom: 0;
        background: rgba(34, 34, 34, 0.4);
        backdrop-filter: blur(4px);
        border-radius: 5px 0px 3px;
        font-size: 28px;
    }
}


.core-stats-list {
    margin: 10px 0;
}

.core-stats-label {
    text-align: center;
    display: inline-block;
    width: 60px;
}

.core-stats.minmax {
    text-align: center;
    display: inline-block;
}

.char-right-sidebar {
    justify-items: center;
    color: light-dark(black, white);
}

.right-element {
    float: left;
    margin: auto;
    width: 50%;
    height: 110px;
    text-align: center;
}

.right-image {
    height: 75px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
}

.right-row {
    size: 75px;
}

.right-row label {
    position: relative;
}

input.right-value {
    position: relative;
    bottom: 55px;
    width: 40px;
    font-size: 25px;
    border: none;
    background: none;
    color: #000;
}

.right-value::placeholder {
    color: black;
}

.right-max {
    position: relative;
    bottom: 84px;
    left: 54px;
    border: none;
    text-align: left;
    width: 50px;
    font-size: 25px;
    color: #000;
}

.right-top {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.char-button-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.optional-stats-collum {
    display: grid;
    grid-template-columns: 90px 90px;
    gap: 10px;
    margin-bottom: 10px;
}

.button-roll {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
}

a.button-roll:hover {
    text-shadow: none;
}

.init-roll {
    background-color: #a4a7f2;
    color: #372362;
}

.init-roll:hover {
    background-color: #7e81db;
}

.death-roll {
    background-color: #f2a4a4;
    color: #622323;
}

.death-roll:hover {
    background-color: #e06d6d;
}

.heal-button {
    background-color: #aff2a4;
    color: #236231;
}

.heal-button:hover {
    background-color: #79cc6b;
}

.crit-roll {
    background-color: #f2d3a4;
    color: #573f22;
}

.crit-roll:hover {
    background-color: #dbb06f;
}

.recover-sta {
    background-color: #a4ccf2;
    color: #1d384d;
}

.recover-sta:hover {
    background-color: #71a8da;
}

.verbal-button {
    background-color: #f2a4ea;
    color: #592362;
}

.verbal-button:hover {
    background-color: #e366d7;
}

.global-modifier-column {
    flex: 1;
}

.progress-container > h3 {
    border-bottom: none;
    margin: 0;
}

.death-counter > i {
    padding-top: 2px;
    padding-bottom: 3px;
}

.status-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

.hp-bar,
.sta-bar,
.toxicity-bar,
.focus-bar,
.resolve-bar {
    height: 20px;
    width: 130px;
}

.hp-bar,
.hp-bar::-webkit-progress-bar {
    border: none;
    background-color: rgba(153, 6, 6, 0.1);
    border-radius: 0 5px 5px 5px;
}

.hp-bar::-webkit-progress-value {
    background-color: #e30000;
    border-radius: 0 5px 5px 5px;
}
.hp-bar::-moz-progress-value,
.hp-bar::-moz-progress-bar {
    border-radius: 0 5px 5px 5px;
}

.hp-bar::-moz-progress-bar {
    background-color: #e30000;
}

.sta-bar,
.sta-bar::-webkit-progress-bar {
    border: none;
    background-color: rgba(23, 114, 153, 0.1);
    border-radius: 0 5px 5px 5px;
}

.sta-bar::-webkit-progress-value {
    background-color: #14abec;
    border-radius: 0 5px 5px 5px;
}

.sta-bar::-moz-progress-value,
.sta-bar::-moz-progress-bar {
    border-radius: 0 5px 5px 5px;
}

.sta-bar::-moz-progress-bar {
    background-color: #14abec;
}

.toxicity-bar,
.toxicity-bar::-webkit-progress-bar {
    border: none;
    background-color: rgba(41, 153, 23, 0.1);
    border-radius: 0 5px 5px 5px;
}

.toxicity-bar::-webkit-progress-value {
    background-color: #2eb917;
    border-radius: 0 5px 5px 5px;
}

.toxicity-bar::-moz-progress-bar,
.toxicity-bar::-moz-progress-value {
    border-radius: 0 5px 5px 5px;
}

.toxicity-bar::-moz-progress-bar {
    background-color: #2eb917;
}

.focus-bar,
.focus-bar::-webkit-progress-bar {
    border: none;
    background-color: #7C14EC10;
    border-radius: 0 5px 5px 5px;
}

.focus-bar::-webkit-progress-value {
    background-color: #7C14EC;
    border-radius: 0 5px 5px 5px;
}

.focus-bar::-moz-progress-bar,
.focus-bar::-moz-progress-value {
    border-radius: 0 5px 5px 5px;
}

.focus-bar::-moz-progress-bar {
    background-color: #7C14EC;
}

.resolve-bar,
.resolve-bar::-webkit-progress-bar {
    border: none;
    background-color: #59236210;
    border-radius: 0 5px 5px 5px;
}

.resolve-bar::-webkit-progress-value {
    background-color: #f2a4ea;
    border-radius: 0 5px 5px 5px;
}

.resolve-bar::-moz-progress-bar,
.resolve-bar::-moz-progress-value {
    border-radius: 0 5px 5px 5px;
}

.resolve-bar::-moz-progress-bar {
    background-color: #f2a4ea;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5px;
    position: relative;
    width: max-content;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.progress-text {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 20px;
    text-align: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    font-weight: bold;
    color: white;
    font-size: 18px;
    margin: 0;
}

.progress-input {
    justify-content: center;
    border: none;
}

.progress-header {
    padding: 5px;
    border-radius: 3px 3px 0px 0px;
    font-size: 14px;
    color: white;
}

.progress-header.hp {
    background: #550000;
}

.progress-header.stamina {
    background: #073142;
}

.progress-header.toxicity {
    background: #104208;
}

.progress-header.focus {
    background: #220742;
}

.progress-header.resolve {
    background: #592362;
}

input.progress-input,
.progress-total {
    background-color: rgba(0, 0, 0, 0);
    line-height: 20px;
    width: 60px;
    height: 20px;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-align: center;
}

.optional-stats-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 130px;
    margin-top: 10px;

    .optional-stat {
        .optional-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            background-color: light-dark(transparent, black);
            border: 1px solid light-dark(black, transparent);
            height: 25px;
            padding-left: 3px;
            border-radius: 5px 5px 0 0;
            font-weight: bold;
        }
        
        .optional-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            place-content: center;
            border-radius: 0 0 5px 5px;
            height: 35px;
            border: 1px solid black;
            text-align: center;
            gap: 5px;
        }
    
        .optional-name,
        .optional-info {
            h4,
            h3 {
                margin: 0;
            }
        }
    }
}




.optional-buttons {
    place-content: center;
    align-content: center;
    width: 20px;
    height: 25px;
}

.char-resource-modifier {
    border: 1px solid black;
    color: light-dark(black, white);
    border-radius: 5px;

    .resource-modifiers {
        overflow-y: auto;
        height: 130px;

        input.list-mod-edit.medium {
            width: 75px;
        }
    }
}

.resource-title {
    background-color: black;
    color: white;
    padding: 5px;
}

