.repair {
    margin-top: 10px;
}

table.repair td:nth-child(n+3),
th:nth-child(n+2) {
    text-align: center;
}

table.repair-info td:first-child {
    text-align: left;
}

table.repair-info td:last-child {
    text-align: right;
}

table.repair-info td {
    font-weight: bold;
    font-size: 1.15em;
}

tr.repair-price td {
    font-weight: bold;
    font-size: 1.15em;
    border-top: 1px solid black;
    text-align: right;
    padding: 0.5em 0;
}

tr.repair-price td.total-price {
    text-align: center;
}