.special-skill-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid darkgray;
    gap: 20px;
    margin-top: 20px;
}

.special-skill-header-name {
    margin-bottom: 0;
    border-bottom: none;
    opacity: 0.8;
}

.add-special-skill-modifier,
.remove-special-skill-modifier {
    margin: 5px;
    width: 15px;
    align-items: center;
    justify-content: center;
}

.special-skill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px;
}

.special-skill-list select {
    border: none;
}

.special-skill-row {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.special-skill-row:hover > .remove-special-skill-modifier {
    visibility: visible;
    opacity: 1;
}

.remove-special-skill-modifier {
    visibility: hidden;
    opacity: 0;
}
