.substances-section > span {
    display: block;
    text-align: center;
    border: 1px solid var(--color-border-light-tertiary);
    margin: 1px;
    border-radius: 10px;
}

.substances {
    display: flex;
}

.substances-section table {
    margin: 0 0 0.5em 0;
}

.substance-type-subheader {
    font-size: large;
    border-bottom: 1px solid var(--color-underline-header);
}

.substances-menu {
    display: flex;
    gap: 3px;
    font-size: 1rem;
    background-color: transparent;
}

.substances-menu:hover {
    border-radius: 5px;
    background-color: rgba(25, 25, 25, 0.05);
}

.substances-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

.sub-open {
    background-color: rgba(25, 25, 25, 0.05);
    border: solid 1px #9a9991;
    border-radius: 5px;
}

.substances-item:hover {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: -2px 8px 8px -10px #9a9991;
    transition: all 0.3s ease;
}

.substance-img {
    height: 25px;
    width: 25px;
    margin: 0;
    border: none;
    border-radius: 50%;
}

.item-substance-display:hover {
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

.item-substance-display:active {
    transform: scale(1.2);
}
