.flex {
    display: flex;
}

.gap {
    gap: 10px;
}

.flex1 {
    flex: 1;
}

.chat-icon {
    width: 2em;
}

.chat-icon-small {
    width: 1em;
}

/* Navigation tabs */
.witcher.sheet nav.sheet-tabs {
    height: 32px;
    flex: 0 0 32px;
    margin: 4px 0;
    border-top: 1px solid #06171e;
    border-bottom: 1px solid #06171e;
    background-color: #1c6888;
    text-align: center;
}

.witcher.sheet nav.sheet-tabs a {
    color: white;
}

/* Sheet min widths */
.witcher.sheet.actor {
    min-width: 555px;
    min-height: 400px;
}

.witcher.sheet.item {
    min-width: 460px;
    min-height: 400px;
}

/* App theme edits */
.actor .window-header {
    flex: 0 0 30px;
    overflow: hidden;
    padding: 0 8px;
    line-height: 30px;
    border-bottom: 1px solid #000;
    background-color: #1c6888;
    border-radius: 5px 5px 0px 0px;
}

.item-spell .window-header {
    background-color: #ab0d55;
}

.item-diagrams .window-header {
    background-color: #80471b;
}

.item-component .window-header {
    background-color: #80471b;
}

.item-mutagen .window-header {
    background-color: #2a4e0a;
}

.actor-sheet-header {
}

.hp-content {
    margin-bottom: -20px;
}

.armor-display {
    display: flex;
    width: 250px;
}

.armor-display input {
    width: 35px;
}

.armor-display label {
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-skill {
    width: 25px;
}

.events {
    width: 45px;
}

.weapon-section {
    flex: 1;
}

.weapon-section .flex label {
    margin-right: 5px;
    margin-bottom: 5px;
}

.item-info {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(25, 25, 25, 0.05);
}

.label-info {
    margin-left: 5px;
}

.fa-info {
    margin: 5px;
    width: 10px;
}

.item-delete {
    margin: 5px;
    width: 15px;
}

.item-edit {
    margin: 5px;
}

.fa-info {
    margin: 5px;
    width: 10px;
}

.info-filler {
    width: 45px;
}

.qty-filler {
    width: 20px;
}

.weapon-name-header {
    width: 190px;
}

.damage-header {
    width: 50px;
}

.range-header {
    width: 50px;
}

input.range-info {
    width: 70px;
}

input.damage-info {
    width: 55px;
}

input.reliable-info,
input.item-quantity {
    background-color: transparent;
    max-width: 25px;
    text-align: center;
    transition: all 0.3 ease;
}

input.reliable-info:hover,
input.item-quantity:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.3 ease;
}

.armor-section {
    flex: 1;
}

.armor-section .flex label {
    margin-right: 5px;
    margin-bottom: 5px;
}

.armor-name-header {
    width: 230px;
}

.stopping-header {
    width: 30px;
}

input.stopping-info {
    width: 50px;
}

.invisible {
    display: none;
}

.valuable-section {
    flex: 1;
    margin-right: 10px;
}

.valuable-section .flex label {
    margin-right: 5px;
    margin-bottom: 5px;
}

.valuable-table td {
    padding: 0.25em 0.25em;
}

.component-section {
    flex: 1;
}

.component-section .flex label {
    margin-right: 5px;
    margin-bottom: 5px;
}

.alchemical-effect {
    width: 330px;
}

.learned-data {
    width: 75px;
}

input.weight-data {
    width: 30px;
}

.components-display input {
    width: 25px;
}

.magic-info {
    width: 250px;
    background-color: lightslategray;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

input.focus-value {
    background-color: lightsteelblue;
    width: 25px;
    text-align: center;
}

input.focus {
    background-color: lightsteelblue;
}

.spell-section {
    min-width: 450px;
    margin-right: 10px;
    flex: 1;
}

.spell-section .flex label {
    margin-right: 5px;
    margin-bottom: 5px;
}

.magic-section .flex label {
    margin-right: 5px;
    margin-bottom: 5px;
}

.magic-section {
    min-width: 400px;
    flex: 1;
}

.magic-value-display {
    margin-right: 10px;
    margin-left: 20px;
}

.dice-success {
    background-color: lightgreen;
    text-align: center;
}

.dice-fail {
    background-color: lightpink;
    text-align: center;
}

.dice-display {
    text-align: center;
}

input.small {
    width: 30px;
}

input.small-medium {
    width: 50px;
}

input.medium {
    width: 100px;
}

input#customCost {
    width: 40px;
}

input.spell-sta {
    width: 25px;
}

input.spell-roll-value {
    width: 200px;
}

.weightbar-overweight {
    background-color: red;
    width: 100%;
    height: 15px;
}

.prof-name {
    flex: 1;
}

.prof-item-delete {
    float: right;
}

.stat-title {
    margin-left: 55px;
}

input.skill-value {
    width: 25px;
}

.perk {
    margin: 5px;
}

.flex-header {
    align-items: center;
}

.add-item {
    margin-right: 5px;
}

.item-img {
    border: none;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.description {
    margin: 10px;
}

.error-display {
    color: red;
}

.justify {
    justify-content: space-between;
}

.margin-right {
    margin-right: 15px;
}

.stat-display .stat-modifier-display {
    width: 15px;
}

.value-max-stat-display {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
