table th {
    padding: 0.25em;
    text-align: left;
}

.enhancement-img,
.enhancement-slot,
.stored-item-img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid rgba(25, 24, 19, 0.6);
}

.enhancement-label,
.stored-item-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.enhancement-label:hover,
.stored-item-label:hover {
    cursor: pointer;
    text-shadow: none;
    background-color: rgba(25, 25, 25, 0.1);
}

.stored-item-info {
    margin-top: 5px;
}

.enhancement-effects-name {
    margin-top: 5px;
}

.enhancement-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.item-tag {
    background-color: 1px solid light-dark(#22222240, #e7d1b140);
    color: light-dark(black, white);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

.item-enhancement {
    height: 30px;
    width: 30px;
}

.no-margin {
    margin: 0px;
}

.currency {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
}

.carry-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: light-dark(#22222210, #e7d1b110);
    border: 1px solid light-dark(#22222240, #e7d1b140);
    border-radius: 10px;
    padding: 10px;
    color: light-dark(black, white);
    flex: 1;
    backdrop-filter: blur(10px);
    z-index: 1;

    .carry-labels {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        font-size: 12px;
        color: #eee;
        padding: 0 10px;
        padding-right: 30px;
        height: 100%;
        width: 100%;
    }

    progress.carry-bar {
        width: 100%;
        height: 20px;
        background-color: transparent;
    }

    progress.carry-bar::-webkit-progress-bar {
        background-color: #888;
        border-radius: 4px;
    }

    progress.carry-bar.overweight::-moz-progress-bar {
        background-color: #d04747;
    }

    progress.carry-bar.overweight:-webkit-progress-value {
        background-color: #d04747;
    }

    progress.carry-bar::-moz-progress-bar {
        background-color: #1a3b8b;
        border-radius: 4px;
    }

    progress.carry-bar::-webkit-progress-value {
        background-color: #1a3b8b;
        border-radius: 4px;
    }
}

.currency-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: light-dark(#22222210, #e7d1b110);
    border: 1px solid light-dark(#22222240, #e7d1b140);
    border-radius: 10px;
    padding: 10px;
    color: light-dark(black, white);
    flex: 1;

    span {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    .currency-list {
        display: flex;
        gap: 5px;
    }
}

.weightbar {
    background-color: grey;
    width: 100%;
    height: 12px;
}

.weight-value {
    color: white;
    position: absolute;
    right: 10px;
}

.item-img-wrapper {
    position: relative;
    display: flex;
    cursor: pointer;
    height: 44px;
}

.item-img-wrapper .item-show {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img-wrapper .item-show:hover {
    background: rgba(0, 0, 0, 0.3);
}

.item-img-wrapper .item-show .fa {
    display: none;
    color: rgb(200, 200, 200);
    font-size: 28px;
}

.item-img-wrapper .item-show:hover .fa {
    display: inline-block;
}

.weapon-header {
    grid-template-columns: 33px 2fr 1fr;
}

.weapon-details {
    grid-template-columns: 40px 2fr 1fr;
}
.weapon-enhancement,
.container-stored-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.armor-header {
    grid-template-columns: 33px 1fr 1fr;
}

.armor-details {
    grid-template-columns: 40px 1fr 1fr;
}

.valuable-header,
.spell-header {
    grid-template-columns: 33px 6fr 1fr;
}

.valuables-list-header,
.spell-list-header {
    grid-template-columns: 33px 1.5fr 1fr;
}

.valuable-details,
.spell-details {
    grid-template-columns: 40px 1.5fr 1fr;
}

.progress-bar-stored-weight {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

.progress-bar-stored-weight progress {
    width: 100%;
    background-color: transparent;
}

.progress-bar-stored-weight progress::-webkit-progress-bar {
    background-color: #888;
    border-radius: 4px;
}

.progress-bar-stored-weight progress::-webkit-progress-value {
    background-color: #1a3b8b;
    border-radius: 4px;
}

.progress-bar-stored-weight progress::-moz-progress-bar {
    background-color: #1a3b8b;
    border-radius: 4px;
}

.progress-bar-stored-weight-labels {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    font-size: 12px;
    color: #eee;
    padding: 0 5px;
    height: 100%;
    width: 100%;
}
