table th {
    padding: 0.25em;
    text-align: left;
}

.enhancement-img,
.enhancement-slot {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid rgba(25, 24, 19, 0.6);
}

.enhancement-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.enhancement-label:hover {
    cursor: pointer;
    text-shadow: none;
    background-color: rgba(25, 25, 25, 0.1);
}

.enhancement-effects-name {
    margin-top: 5px;
}

.enhancement-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item-tag {
    background-color: rgba(25, 25, 25, 0.1);
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 2px groove #eeede0;
}

.item-enhancement {
    height: 30px;
    width: 30px;
}

.no-margin {
    margin: 0px;
}

.currency {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
}

.weightbar {
    background-color: grey;
    width: 100%;
    height: 12px;
}

.weight-value {
    color: white;
    position: absolute;
    right: 10px;
}

.item-img-wrapper {
    position: relative;
    display: flex;
    cursor: pointer;
    height: 44px;
}

.item-img-wrapper .item-show {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img-wrapper .item-show:hover {
    background: rgba(0, 0, 0, 0.3);
}

.item-img-wrapper .item-show .fa {
    display: none;
    color: rgb(200, 200, 200);
    font-size: 28px;
}

.item-img-wrapper .item-show:hover .fa {
    display: inline-block;
}

.weapon-header {
    grid-template-columns: 33px 2fr 1fr;
}

.weapon-details {
    grid-template-columns: 40px 2fr 1fr;
}
.weapon-enhancement {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
