.editor {
    border-radius: 5px;
    background: light-dark(#22222210, #e7d1b110);
    height: 250px;
    padding: 5px;
}

.tox.tox-tinymce {
    min-height: 200px;
    min-width: 200px;
}

.life-events, .character-notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.life-events-header, .notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid darkgray;
    margin-top: 20px;
    margin-bottom: 5px;

    span {
        font-size: 24px;
    }
}

.life-events-card {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid darkgray;
}

.life-events-header > h2, .notes-header > h2 {
    margin: 0;
    border-bottom: none;
    opacity: 0.8;
}

.life-events-card-header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding: 8px 4px;
    align-items: center;

    span {
        font-size: 18px;
    }
}

.padding {
    padding: 5px 10px;
}

.life-events-controls {
    justify-self: center;
}

.life-events-decades {
    display: flex;
    text-align: end;
}

.add-item {
    margin-right: 5px;
}

.bg-note {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid darkgray;
}

.note-header {
    display: flex;
    flex-direction: row;
}

.note-header > a {
    display: none;
}

.note-header:hover > a {
    display: inline-block;
    text-align: center;
    text-shadow: none;
    color: #d02323;
}

.item-delete {
    margin: 5px;
    width: 15px;
}

.modifier-display {
    min-width: 100px;
}

.background-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.general-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.general-homeland, .general-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: light-dark(#22222210, #e7d1b110);
    border: 1px solid light-dark(#22222240, #e7d1b140);
}

.homeland-select {
    display: flex;
    gap: 5px;
}

.background-description {
    overflow-y: auto;
}

textarea.life-events-details,
textarea.inline-edit {
    resize: vertical;
    height: auto;
}

input.life-events-decades {
    width: 4ch;
    text-align: center;
}

input.details,
select.details,
input.life-events-details,
textarea.life-events-details,
input.life-events-decades,
textarea.inline-edit,
input.inline-edit {
    border: none;
    transition: box-shadow 0.1s ease;
    flex-grow: 1;
}

input.details:hover,
select.details:hover,
input.life-events-details:hover,
textarea.life-events-details:hover,
input.life-events-decades:hover,
textarea.inline-edit:hover,
input.inline-edit:hover {
    box-shadow: 0 0 5px var(--color-shadow-primary);
}
